{% extends 'main.html' %}

{% block content %}
  <h1>Locations</h1>
  <a href="{% url 'markets:location_add' %}">Create a new locations</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for location in location %}
      <tr>
        <td>{{ location.name }}</td>
        <td>
            <a href="{% url 'markets:location_update' location.id %}">Edit</a>
            <form method="post" action="{% url 'markets:location_delete' location.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No orders found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}