{% extends 'main.html' %}

{% block content %}
  <h1>Employees</h1>
  <a href="{% url 'dashboard:employee_add' %}" class="btn btn-primary">Create a new employee</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Location</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <td><a href="{% url 'dashboard:employee_detail' employee.id %}">{{ employee.name }}</a></td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.location }}</td>
        <td>
          <a href="{% url 'dashboard:employee_update' employee.id %}" class="btn btn-secondary">Edit</a>
          <form method="post" action="{% url 'dashboard:employee_delete' employee.id %}" style="display: inline-block;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No employees found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
